#page {
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
    flex-wrap: wrap;
}

#canvas {
    display: flex;
    background-color: lightgreen;
}

.squares {
    height: 40px;
    width: 40px;
    border: 1px solid black
}

.used {
    background-color: lightcoral;
    height: 40px;
    width: 40px;
    border: 1px solid black;
}